extends ../layout.jade
block content
	form(action='/user/update/' + user.id method='POST')
		h2.form-signin-heading Изменить
		- if (flash && flash.err) {
		ul
			- Object.keys(flash.err).forEach(function(error) {
				- var errMsg = JSON.stringify(flash.err[error]);
				//- console.log(errMsg);
			li= errMsg
				- })
		- }
		.control-group
			input.form-control(type='text', name='login' id='inputLogin', placeholder='Login', value= user.login)
		.control-group
			input.form-control(type='text', name='email' id='inputEmail', placeholder='Email', value= user.email)
			input(type='hidden' name='admin' value="checked")
			label.checkbox Admin
			input(type='checkbox', name='admin' unchecked)
		.control-group
			-var bd = user.birthDate? user.birthDate : '01.01.1950';
			
			#dp.input-append.date(data-date= bd data-date-format='dd.mm.yyyy')
				input.span2.form-control(name='birthDate' size='16' type='text' value= bd readonly )
				span.add-on
					i.fa.fa-calendar.fa-fw
		.control-group
			select.form-control(name='sex', id='sex', placeholder='Пол')
		.control-group
			select.form-control(name='position', id='position', placeholder='Позиционирование')
		.control-group
			select.form-control(name='country'  id='country' placeholder='Страна')
				-for (idx in countries)
					option(selected=user.country==countries[idx].id value= countries[idx].id) #{countries[idx].name}
		.control-group
			select.form-control(name='city' id='city' placeholder='Город')
				-for (idx in cities)
					option(selected=user.city==cities[idx].id value= cities[idx].id) #{cities[idx].name}
		input.btn.btn-lg.btn-primary(type='submit', value='Изменить')
		input(type='hidden' name='_csrf' value= _csrf)
